* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #36384d;
}
.show{
    display: block;
}
.hide {
    display: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(66, 63, 63);
 
}
.card01 {
    background: hsl(0, 0%, 100%);
    width: 65%;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 20px 30px hsl(235, 18%, 26%);
}

.card1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 55px;
}
.para1 {
    font-size: 16px;
    line-height: 26px;
    color: hsl(235, 18%, 26%);
    font-weight: 500;
    margin-bottom: 20px;
}

li{
    font-size: 14px;
    font-weight: 500;
    color: hsl(235, 18%, 26%);
}
.image {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

ol {
    list-style-image: url('./images/icon-success.svg');
    font-size: 12px;
    margin-left: 25px;
}

input {
    width: 360px;
    outline: none;
    border: 1px solid Black;
    padding: 18px;
    border-radius: 5px;

}
label{
    color: black;
    font-size: 22px;
}
.btn {
    border: none;
    border-radius: 5px;
    /* background:#ff6741; */
    background: black;
    width: 360px;
    padding: 19px;
    color: white;
}
.btn:hover {
    background:#ff6741;
}
.placeholder-red::placeholder {
    color: crimson;
    font-size: 18px;
}

.second-Container {
    width: 450px;
    background-color: #fff;
    padding: 30px 40px 40px 40px;
    border-radius: 20px;
    display: none;
    margin-left: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
} 

.image2 {
    margin-top: 20px;
    padding: 5px;
    height: 40px;
    width: 40px;
}

.header {
    font-size: 55px;
    margin-bottom: 10px;
}

.secondpara {
    margin-bottom: 20px;
    width: 360px;
    font-size: 16px;
}

.btn2 {
    background: black;
    border: none;
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 18px;
    width: 360px;
}
.btn2:hover {
    background: #ff6741;
    
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    margin-left: 80px;

}

.attribution a {
    color: hsl(227, 9%, 80%);
}

@media screen and (max-width:375px) {

    .card01 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100%;
        padding: 10px;
        margin-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 10px;
    }

    .second-Container {
        margin-left: 0px;
        margin-right: 0px;
        height: 100%;
        margin-top: 0px;
        background: #ffffff;
        width: 260px;
        padding: 20px;
        border-radius: 20px;
    }

    .secondpara {
        margin-bottom: 10px;
        width: 210px;
        font-size: 12px;
    }

    .btn2 {
        margin-top: 300px;
        background: #ff6741;
        border: none;
        color: white;
        outline: none;
        border-radius: 5px;
        padding: 10px;
        width: 210px;
    }
}